body
{
    background-color: #FEFEFF;
	margin: 0px;
	margin-top: 120px;
	padding-top: 15px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

ul {
	background: #AAAAAA;
	position: fixed;
	top: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0px;
	width: 100%;
	height: 120px;
	box-shadow: 0 10px 6px 2px rgba(170, 170, 170, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
	display: inline;
	float: right;
}

.nav-entry {
	height: 120px;
	padding: auto;
	padding-left: 25px;
	padding-right: 25px;
	margin: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
    transition: 0.5s;
}

.nav-entry:hover {
	background: #BF899F;
    transition: 0.5s;
}

