@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html, body {
    height: calc(100% - 78px);
    height: -webkit-calc(100% - 78px);
    height: -moz-calc(100% - 78px);
    height: -o-calc(100% - 78px);
    margin: 0;
}

body
{
    font-family: "Noto Sans JP", sans;
    background-color: #F5F5FF;
	margin: 0px;
	margin-top: 120px;
	padding-top: 15px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.main-div {
    min-height: 100%;
    margin-bottom: -80px;
    width: 35%;
    margin-left: 32.5%;
    margin-right: 32.5%;
}

body::-webkit-scrollbar {
	display: none;
}

ul.header {
	background: #AAAAAA;
	position: fixed;
	top: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0px;
	width: 100%;
	height: 120px;
    z-index: 999;
	/*box-shadow: 0 10px 6px 2px rgba(170, 170, 170, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

li.header {
	display: inline;
	float: right;
}

.nav-entry {
    height: 120px;
	padding: auto;
	padding-left: 25px;
	padding-right: 25px;
	margin: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
    transition: 0.5s;
}

ul.footer {
    text-align: justify;
}

ul.footer:after {
    content: '';
    width: 100%;
    display: inline-block;
}

li.footer {
    display: inline-block;
}

ul.bug-list {
    list-style: none;
}

li.bug-green::before {
    content: "\2218";
    font-size:18px;
    color: #639d66;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

li.bug-yellow::before {
    content: "\2218";
    font-size:18px;
    color: #d5ca6a;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

li.bug-red::before {
    content: "\2218";
    font-size:18px;
    color: #c94141;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

li.bug-blue::before {
    content: "\2218";
    font-size:18px;
    color: #6699cc;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.nav-entry:hover {
	background: #BF899F;
    transition: 0.5s;
}

.drop-box {
    height: 150px;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    border-style: dashed;
    border-width: 4px;
    border-color: #999999;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {
    width: 100%;
    height: 80px;
    background: #AAAAAA;
    table-layout: fixed;
    font-size: 12px;
    margin-top: 20px;
}

.merch-row {
    display: flex;
}

.merch-row a {
    text-decoration: none;
    color: black;
}

.merch-column {
    flex: 50%;
}

.merch-box-top {
    margin: 10px;
    margin-bottom: 0px;
    background: #000000;
    border-radius: 10px 10px 0px 0px;
}

.merch-box-bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    background: #AAAAAA;
    border-radius: 0px 0px 10px 10px;
}

.merch-logo {
    height: 32px;
    width: 32px;
    margin: 5px;
    display: inline;
}

.merch-img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.merch_box_text {
    display: inline;
    margin: 5px;
}

.url_input {
    margin: 10px;
    margin-top: 5px;
    width: 70%;
    padding: 10px;
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-color: #999999;
    background: #F5F5FFFF;
    border-radius: 15px;
}

.url_button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-color: #999999;
    background: #F5F5FF;
    border-radius: 10px;
}
